* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.container {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}
.logo {
  background-color: rgb(79, 79, 236);
  padding: 1rem;
}
.menu {
  background-color: chartreuse;
  padding: 1rem;
}
.banner {
  background-color: rgb(255, 40, 20);
  padding: 4rem;
}
body {
  text-align: center;
}
.bolum1,
.bolum2,
.bolum3 {
  background-color: rgb(47, 255, 213);
  justify-content: center;
  border: 1px solid black;
  height: 30rem;
}
.section div {
  background-color: orange;
  height: 4rem;
  border: 1px solid black;
}
.footer {
  background-color: rgb(223, 35, 223);
  height: 7rem;
}
